@media only screen and (max-width:1920px) {}

@media only screen and (max-width:1199px) {
    /* Service Card */
        /* .service-card-wrapper {
            display: grid;
            grid-template-columns: auto;
            gap: 42px;
        } */
}

@media only screen and (max-width:960px) {

    /* Header  */
    nav {
        padding: 0 24px;
    }

    /* Hero Banner */
    .hero-banner {
        height: calc(100vh - 74px);
        padding-left: 24px;
        padding-right: 24px;
    }

    .hero-banner {
        flex-direction: column-reverse;
        height: inherit;
    }

    .hero-banner .right {
        position: inherit;
        width: 70%;
    }

    .hero-banner .right img {
        width: 100%;
        height: auto;
    }

    .hero-banner .left,
    .hero-banner .right {
        width: 100%;
    }

    /* Mobile App Development */
    .development {
        flex-direction: column;
    }
}


@media only screen and (max-width:768px) {

    /* Headings  */
    .h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 62px;
    }

    /*  hamburger Menu */
    .hamburger-icon {
        display: block;
    }

    /*  Mobile Responsive  */

    .nav--item {
        /* transform: translateX(100%); */
        transition: transform 0.5s ease-in-out;
        flex-direction: column;
        background-color: var(--dark-color);
        position: absolute;
        left: 0;
        width: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: 20;
        gap: 50px;
        opacity: 0;
        visibility: hidden;
    }

    .nav--item.active {
        display: flex;
        /* transform: translateX(0); */
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav--item ul {
        flex-direction: column;
        text-align: center;
    }

    .nav--item ul li a {
        color: white;
    }

    /* Hero Banner content */
    .banner-content {
        max-width: 550px;
    }

    /* Featured on */
    .feat-brand {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    /* Mobile App Development */
    .development--items {
        grid-template-columns: auto;
        gap: 36px;
    }

}

@media only screen and (max-width: 576px) {

    /* Hero Banner content */
    .banner-content {
        max-width: 100%;
    }

    .btn {
        padding: 8px 24px;
    }
}