@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--dark-color);
    font-size: 16px;
    font-family: var(--primary-font);
    background-color: whitesmoke;
}

/* Variables  */

/* Colors  */
:root {
    --dark-color: #1a1423;
    --light-color: #fdfffc;
    --accent-color: #7161ef;
    --white-smoke: #f5f5f5;
    --primary-font: "Inter", sans-serif;
}

/* Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    margin: 8px 0;
}

.h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 62px;
}

.h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}

.h3 {
    font-size: 24px;
    line-height: 130%;
}

.h4 {}

.h5 {}

.h6 {}

/* Container  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Anchor Tag  */
.anchorTag {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.7s;
}

.anchorTag:hover {
    color: var(--accent-color);
}

/* Paragraph  */
.paragraph-1 {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
}

/* Text Gradients Color  */
.textGradient {
    background: -webkit-linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Shadow  */
.shadow-1 {
    box-shadow: 0 8px 42px rgba(0, 0, 0, 0.1);
}

.shadow-2 {
    box-shadow: 0 0 42px -20px rgba(0, 0, 0, 0.2);
}

.shadow-3 {
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}

.shadowHover-1 {
    box-shadow: 0 3px 80px rgba(0, 0, 0, 0.1);
}