@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables  */

/* Colors  */
:root {
    --dark-color: #1a1423;
    --light-color: #fdfffc;
    --accent-color: #7161ef;
    --white-smoke: #f5f5f5;
    --primary-font: "Inter", sans-serif;
}

body {
    color: var(--dark-color);
    font-size: 16px;
    font-family: var(--primary-font);
}

/* Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    margin: 8px 0;
}

.h1 {
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 1.7045454545454546rem + 2.727272727272727vw, 3.75rem);
    font-weight: 800;
    line-height: 62px;
}

.h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}

.h3 {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
}

.h4 {}

.h5 {}

.h6 {}

/* Container  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Anchor Tag  */
.anchorTag {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.anchorTag:hover {
    color: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
}

/* Paragraph  */
.paragraph-1 {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
}

/* Text Gradients Color  */
.textGradient {
    background: -webkit-linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Shadow  */
.shadow-1 {
    box-shadow: 0 8px 42px rgba(0, 0, 0, 0.1);
}

.shadow-2 {
    box-shadow: 0 0 42px -20px rgba(0, 0, 0, 0.2);
}

.shadow-3 {
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}

.shadowHover-1 {
    box-shadow: 0 3px 80px rgba(0, 0, 0, 0.1);
}

/* Button  */
button {
    border: none;
    background-color: transparent;
}

.btn {
    padding: 8px 34px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--accent-color);
    transition: all 0.3s;
    display: inline-block;
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--light-color);
    letter-spacing: 1px;
}

.btn-primary:hover {
    background: #5947de;
    border: 2px solid #5947de;
}

.btn-secondary {
    color: var(--accent-color);
}

.btn-secondary:hover {
    color: var(--white-smoke);
    background-color: var(--accent-color);
}

.btn-tertary {
    background-color: var(--white-smoke);
    border: 2px solid var(--white-smoke);
}

.btn-tertary:hover {
    background-color: transparent;
    color: var(--white-smoke);
}

li {
    list-style: none;
}

/*? Common Style  */

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.bg-gray {
    background-color: gray;
}

.title-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.title-center p {
    margin-top: 18px;
}

.section {
    padding: 120px 0;
}

/* < ==========Start Header ========== > */
header {
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 700;
}

nav {
    background-color: whitesmoke;
    height: 74px;
    padding: 0 32px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.nav--item {
    gap: 32px;
}

.nav--item ul {
    gap: 42px;
}

.nav--item {
    display: flex;

}

/* < !-- hamburger Icon Deskto , hamburger Close Icon Mobile  --> */
.hamburger-icon,
.hamburger-close-icon {
    display: none;
}

.hamburger-icon img,
.hamburger-close-icon img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

/* hamburger Close Icon Mobile */
.hamburger-close-icon {
    position: absolute;
    top: 4rem;
    right: 2rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7478%) hue-rotate(132deg) brightness(106%) contrast(105%);
}

/* < ==========End Header ========== > */


/* < ==========Start Hero Banner ========== > */
.hero-banner {
    height: calc(100vh - 74px);
    padding: 3.2742rem 32px 0 32px;
}

.hero-banner .left,
.hero-banner .right {
    width: 50%;
}

.hero-banner .right {
    position: relative;
    z-index: -1;
}

.hero-banner .right::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: #ad95ff;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    filter: blur(115px);
}

.hero-banner .right img {
    /* width: 586px; */
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

/* Hero Banner content */
.banner-content p {
    margin-top: 18px;
}

/* Hero Banner Button */
.banner-btn {
    gap: 32px;
    margin-top: 2rem;
}

.banner-btn button a {
    display: inline-block;
}

/* Featured on */
.featured {
    flex-direction: column;
    align-items: center;
    padding: 40px 32px;
    border-radius: 30px;
    gap: 8px;
    background-color: white;
    margin-bottom: -4rem;
    position: relative;
}

.feat-brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 62px;
}

/* < ==========End Hero Banner ========== > */


/* < ==========Start Mobile App Development ========== > */
#app-development {
    background-color: var(--white-smoke);
    padding-top: 180px;
}

.development {
    gap: 80px;
}

.development .left>p,
.contact .right>p {
    margin-top: 22px;
    margin-bottom: 38px;
}

.dev-info-text {
    margin-top: 20px;
}

.development .right img {
    max-width: 100%;
    height: auto;
}

/* development Items */
.development--items,
.contact--items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 48px;
}

/* < ==========End Mobile App Development ========== > */

/* < ==========Start  Service ========== > */
/* Service Card */
.service-offer-card-wrapper,
.blog-offer-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.service-offer-item,
.blog-offer-item {
    width: 352px;
}

.service-img img,
.blog-img img {
    width: 100%;
    height: 156px;
    object-fit: cover;
}

.service-content,
.blog-content {
    padding: 16px;
}

.service-content p,
.blog-content p {
    margin: 16px 0;
}

.service-offer-item,
.blog-offer-item {
    transition: all 0.3s;
}

.service-offer-item:hover,
.blog-offer-item:hover {
    transform: scale(1.04);
    box-shadow: 0 3px 80px rgba(0, 0, 0, 0.1);
}

/* < ==========End  Service ========== > */



/* < ========== Start Contact Us ========== > */
#contact {
    background-color: var(--accent-color);
}

.contact .left img {
    max-width: 100%;
    height: auto;
}

.contact {
    gap: 60px;
}

.contact .right h2,
.contact .right p {
    color: white;
}

.expertise img,
.customization img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4546%) hue-rotate(168deg) brightness(100%) contrast(101%);
}

.expertise-title,
.customization-title {
    color: white;
}

/* < ==========End Contact Us ========== > */

/* < ==========Start Blog ========== > */
.dev_prog {
    gap: 6px;
}

.devloper,
.programmer {
    background-color: var(--accent-color);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px 5px;
    border-radius: 6px;
}

.all-post-btn {
    margin-top: 2rem;
}

/* < ==========End Blog ========== > */


/* < ==========Start Feedback ========== > */
.feed-form-wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.form--items {
    gap: 12px;
}

.form-control {
    width: 100%;
    margin-bottom: 12px;
}

.input-field {
    width: 100%;
    padding: 16px;
    height: 48px;
    color: var(--dark-color);
    display: block;
    border: 2px solid #dadada;
    border-radius: 6px;
    font-size: 18px;
}

.input-field:focus, textarea:focus {
    outline: none;
}

.input-field::placeholder, textarea::placeholder{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

textarea {
    border: 2px solid #dadada;
    border-radius: 6px;
    width: 100%;
    padding: 16px;
    font-size: 18px;
}

/* < ==========End Feedback ========== > */

footer{background-color: var(--dark-color); padding: 60px 32px;}
.footer{flex-wrap: wrap; gap: 24px;}
.ft-logo{color: white; font-weight: 800; font-size: 24px;}
.ft-text-1{color: white; margin-top: 20px;}
.ft-text-2{color: rgba(255, 255, 255, 0.5); margin-top: 28px;}
.follow-us{color: white; margin-bottom: 32px; display: block;}
.ft-links{gap: 40px; }
.ft-links li a img{transition: all 0.3s;}
.ft-links li:hover a img{transform: scale(1.3);}